@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply m-0 p-0;
  }
  body {
    font-family: "Ubuntu", sans-serif;
    background: #fff9f3;
  }
  ul {
    text-decoration: none;
  }
}

@layer components {
  .header {
    .nav-bar {
      .nav-bar-items {
        .navbar-items-item {
          .item {
            letter-spacing: 1px;
            &:hover {
              background: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
